*{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}
.div-nav-bar{
    display: flex;
    justify-content:center;
}

.div-nav-bar a{
    margin-left: 1rem;
}
a{
    text-decoration: none;
    color: inherit;
}